<template>
  <div class="home">
    <Emoji></Emoji>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue';
import Emoji from '@/components/emoji/Emoji.vue'; // @ is an alias to /src

@Component({
  components: {
    Emoji,
  },
})
export default class Home extends Vue {}
</script>
