<template>
  <div class="emoji">
    <div class="emoji-content">
      <textarea rows="5" type="text" v-model="message"></textarea>
      <button @click="showEmoji = !showEmoji">
        Emoji
      </button>
      <span class="emoji-content__box" :class="{ active: showEmoji }">
        <input @input="searchEmoji()" v-model="keyword" type="text" class="emoji-content__box-search" placeholder="Search" />
        <span :title="emoji.name" class="emoji-content__box-list" @click="setEmoji(emoji.char)" v-for="emoji in emoji">{{ emoji.char }}</span>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { IEmoji } from '@/components/emoji/emoji.interface';
import { EMOJI } from '@/components/emoji/emoji.mock';

@Component
export default class Emoji extends Vue {
  public emoji: IEmoji[] = EMOJI;
  public message: string = 'Type here emoji';
  public showEmoji: boolean = false;
  private keyword: string = '';

  public setEmoji(char: string) {
    this.message += char;
  }
  public searchEmoji() {
    if (this.keyword !== '') {
      this.emoji = this.emoji.filter((e: IEmoji) => e.name.toLowerCase().indexOf(this.keyword.toLowerCase()) !== -1);
    } else {
      this.emoji = EMOJI;
    }
  }
}
</script>

<style scoped lang="scss">
.emoji {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    button {
      background: #ede825;
      border: none;
      color: #757575;
      height: 128px;
      border-radius: 5px;
      width: 100px;
      cursor: pointer;
      outline: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #857808;
        color: #fff;
      }
    }

    textarea {
      width: 500px;
      border: 1px solid #ededed;
      border-radius: 5px;
      font-size: 20px;
    }

    &__box {
      transition: all 0.2s ease-in-out;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      height: 350px;
      width: 350px;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      top: 0;
      left: calc(100% + 20px);
      border: 1px solid #ededed;
      padding: 20px;
      border-radius: 5px;
      align-items: center;
      justify-content: space-around;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      &-list {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-size: 24px;
        margin: 5px;

        &:hover {
          transform: translateY(-5px);
        }
      }

      &-search {
        width: 100%;
        border: 1px solid #ededed;
        border-radius: 5px;
        padding: 10px;
      }
    }
  }
}
</style>
