<template>
  <div id="app">
    <div id="nav">
      <!--      <router-link to="/">Home</router-link> |-->
      <!--      <router-link to="/about">About</router-link>-->
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
    body, html {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }
    #app {
        min-height: 100vh;
    }
</style>
